html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}

#search {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 582px;
    height: 44px;
    border: 0.7px solid rgb(68, 67, 67);
    border-radius: 24px;
}

#search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
}

#search-icon svg {
    color: #9aa0a6;
}

#search-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 40px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    border: 0 solid;
    font-size: 16px;
}

#cursor {
    position: absolute;
    height: 25px;
    width: 25px;
    animation: cursor 3s;
    left: 20%;
    top: 50%;
    transform: translate(0, -50%);
}

#cursor img {
    width: 100%;
    height: 100%;
}

#search-box {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translate(0, -50%);
    width: 500px;
    height: 40px;
    background-color: #ffff;
}

@keyframes cursor {
    0% {
        left: -80%;
        top: -80%;
    }
    100% {
        left: 20%;
        top: 50%;
        transform: translate(0, -50%);
    }
}

@keyframes input {
    0% {
        width: 500px;
    }

    100% {
        width: 0;
    }
}

@media (max-width: 612px) {
    #search {
        width: 380px;
        height: 44px; 
    }

    #search-input {
        width: 299px;
        height: 40px;
    }

    #search-box {
        right: 40px;
        width: 299px;
        height: 40px;
    }
}

@media (max-width: 450px) {
    #search {
        width: 330px;
        height: 44px; 
    }

    #search-input {
        width: 249px;
        height: 40px;
    }

    #search-box {
        right: 40px;
        width: 249px;
        height: 40px;
    }
}